
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/appsettings.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.dev.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.dev.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
academyManagementSystem/package-lock.json
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/config/applicationhost.config
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/DesignTimeBuild/.dtbcache.v2
Data/InsertScript/script_14_3_21.sql
Api/AcademyManagementSystem/Properties/launchSettings.json
Api/AcademyManagementSystem/obj/project.nuget.cache
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.exe
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.dll
*.pdb
*.cache
*.dll
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
*.json
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/config/applicationhost.config
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
Api/AcademyManagementSystem/appsettings.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.deps.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.dll
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.exe
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.pdb
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.dev.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/appsettings.json
Api/AcademyManagementSystem/obj/AcademyManagementSystem.csproj.nuget.dgspec.json
Api/AcademyManagementSystem/obj/AcademyManagementSystem.csproj.nuget.g.props
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.assets.cache
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.csproj.CoreCompileInputs.cache
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.csproj.FileListAbsolute.txt
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.csprojAssemblyReference.cache
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.dll
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.genruntimeconfig.cache
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.pdb
Api/AcademyManagementSystem/obj/project.assets.json
Api/AcademyManagementSystem/obj/project.nuget.cache
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/config/applicationhost.config
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/config/applicationhost.config
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
*.cache
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/.suo
Api/AcademyManagementSystem/obj/AcademyManagementSystem.csproj.nuget.g.props
*.props
Api/AcademyManagementSystem/obj/project.assets.json
*.cache
*.suo
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/v16/*.suo