
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/appsettings.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.dev.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.dev.json
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.runtimeconfig.json
academyManagementSystem/package-lock.json
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/config/applicationhost.config
Api/AcademyManagementSystem/.vs/AcademyManagementSystem/DesignTimeBuild/.dtbcache.v2
Data/InsertScript/script_14_3_21.sql
Api/AcademyManagementSystem/Properties/launchSettings.json
Api/AcademyManagementSystem/obj/project.nuget.cache
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Api/AcademyManagementSystem/obj/Debug/netcoreapp3.1/AcademyManagementSystem.exe
Api/AcademyManagementSystem/bin/Debug/netcoreapp3.1/AcademyManagementSystem.dll
*.pdb
*.cache
*.dll
