<div class="page-header">New Student Admission Entry</div>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="AdmissionForm">
      <ng-template matStepLabel>Personal details</ng-template>
      <div class="d-flex">
        <div class="col-6 row labelpadding">
          <div class="col-4 d-flex">
            <label class="center-block m-auto">First Name :</label>
          </div>
          <div class="col-8">
            <input class="form-control" formControlName="FirstName" />
          </div>
        </div>
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Last Name :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="LastName" />
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Parent Name :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="ParentName" />
          </div>
        </div>
        
      </div>

      <div class="d-flex">
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Contact No. :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="ContactNumber" type="tel" />
          </div>
        </div>
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Email ID :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="EmailId" type="email"/>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Address :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="Address" />
          </div>
        </div>
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">City :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="City" />
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">State :</label>
              </div>
          <div class="col-8">
            <input class="form-control" formControlName="State" />
          </div>
        </div>
        <div class="col-6 row labelpadding">
            <div class="col-4 d-flex">
                <label class="center-block m-auto">Country :</label>
            </div>
          <div class="col-8">
            <select
              class="form-control"
              id="countryname"
              formControlName="Country"
            >
              <option value="c" *ngFor="let c of countries" (valueChange)="CheckNRI()">{{c}}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-8 row labelpadding">
            <div class="col-lg-4">
                <label class="center-block">IsAbroadStudent:</label>
            </div>
            <div class="col-lg-4">
                <select class="form-control" id="countryname" formControlName="IsAbroadStudent">
                    <option value="">Select</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                  </select>
            </div>
        </div> -->
      <button mat-button matStepperNext class="float-right btn btn-success">Next</button>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enter Course details</ng-template>
    <form [formGroup]="CourseForm">
      <ng-template matStepLabel>Fill out your details</ng-template>
      <div class="col-lg-8 row labelpadding">
        <div class="col-lg-4">
          <label class="center-block">CoueseName:</label>
        </div>
        <div class="col-8">
            <select
              class="form-control"
              id="countryname"
              formControlName="CoueseName"
            >
              <option value="c.courseId" *ngFor="let c of courses">{{c.courseName}}</option>
            </select>
          </div>
      </div>
      <div class="col-lg-8 row labelpadding">
        <div class="col-lg-4">
          <label class="center-block">Level:</label>
        </div>
        <div class="col-8">
            <select
              class="form-control"
              id="countryname"
              formControlName="Level"
            >
              <option value="c.levelId" *ngFor="let c of levels">{{c.levelName}}</option>
            </select>
          </div>
      </div>
      <div class="col-lg-8 row labelpadding">
        <div class="col-lg-4">
          <label class="center-block">Grade:</label>
        </div>
        <div class="col-8">
            <select
              class="form-control"
              id="countryname"
              formControlName="Grade"
            >
              <option value="c.gradeId" *ngFor="let c of grades">{{c.gradeName}}</option>
            </select>
          </div>
      </div>
      <div class="col-lg-8 row labelpadding">
        <div class="col-lg-4">
          <label class="center-block">Class Count:</label>
        </div>
        <div class="col-8">
            <select
              class="form-control"
              id="countryname"
              formControlName="classcount"
            >
              <option value="c" *ngFor="let c of classCount">{{c}}</option>
            </select>
          </div>
      </div>
    </form>
    <button mat-button matStepperNext class="float-right btn btn-success ml-1">Next</button>
    <button mat-button matStepperPrevious class="float-right btn btn-warning">Back</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fee Details</ng-template>
    <div>
        <div class="col-6 row labelpadding">
            <div class="col-lg-4">
                <label class="center-block">Course Fee: {{coursefee}}</label>
            </div>
        </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review your Information</ng-template>
    <div>
      <button (click)="submitadmissiondetails()" class="float-right btn btn-success ml-1">Submit</button>
      <button mat-button matStepperPrevious class="float-right btn btn-warning">Back</button>

    </div>
  </mat-step>
</mat-vertical-stepper>


<ng-template #success>
    <h2 matDialogTitle>Success</h2>
    <mat-dialog-content>
      <p>Student Admission Success!</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>

  
<ng-template #failure>
    <h2 matDialogTitle>Already Exists</h2>
    <mat-dialog-content>
      <p>Student already available in database. Check using Student ID</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary">Dismiss</button>
    </mat-dialog-actions>
  </ng-template>