  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Music Academy</span>
      <span class="menu-spacer"></span>
      <span class="logout">
        <span class="bell-icon">
          <mat-icon>notifications_none</mat-icon>
        </span>
        <button
          mat-mini-fab
          matTooltip="UserName"
          [matMenuTriggerFor]="menu"
          [matTooltipPosition]="position.value"
          color="accent"
        >
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon (click)="gotologinpage()">power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="pageHeight">
  <mat-sidenav-container fxFlexFill class="sidenavcontainer">
    <mat-sidenav #sidenav class="sidenav">
      <div *ngFor="let page of homesidenav" class="menu-item">
        <div (click)="controlMenuItem(page)" class="d-flex">
          <div [class]="page.class"></div> 
          <div>{{page.name}}</div>
        </div>
        <div *ngIf="page.isopen && page.children && page.children.length > 0">
          <div *ngFor="let sub of page.children" (click)="routeto(sub.route)" class="sub-menu-item">
          {{ sub.name }}
          </div>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
