<div class="login-container lgcontainer">
    <div class="login-content lgcontent">
      <mat-toolbar class="login-toolbar lgtool" color="primary">Carnatic Gurukulam</mat-toolbar>
      <mat-card class="card">
        <form [formGroup]="loginForm" novalidate >
          <mat-form-field class="formfield">
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username" formControlName="UserName">
          </mat-form-field>

          <mat-form-field class="formfield">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="Password" (keyup.enter)="LoginuserDetails()">
          </mat-form-field>

          <button class="lgnbtn" mat-raised-button color="primary" (click)="LoginuserDetails()">Login</button>
        </form>
      </mat-card>
    </div>
  </div>