.lgcontainer {
    height: 80%;
    width: 50%;
    position: relative;
    top: 20%;
    margin: auto;
}
.lgcontent{
    height: 50%;
}
.lgtool{
    height: 21%;
    Width: 50%;
    margin: auto;
}
.card{
    height: 100%;
    width: 50%;
    margin: auto;
}
.formfield{
    width: 100%;
    position: relative;
    top: 5%;
}
.lgnbtn{
    position: relative;
    /* left: 50%; */
    width: 100%;
    top: 10%;
}