<div class="page-header">Course Details</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 ">
            <div class="headerTab">
                <div>Courses</div>
            </div>
            <div>singing</div>
        </div>
        <div class="col-lg-4">
            <div class="headerTab">
                <div>
                    Grades
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="headerTab">
                <div>
                    Level
                </div>    
            </div>
        </div>        
    </div>
</div>